.container {
  padding-top: 63px;
}

.share {
  cursor: pointer;
  width: 100px;
  position: relative;

  &__icons {
    background-color: #fff;
    box-shadow: 0 0 7px 0 rgba(0,0,0,0.3);
    width: 128px;
    height: 51px;
    margin-left: -50px;
    position: absolute;
    top: 100%;
    right: 0;
  }
}

.header {
  display: flex;
  height: 63px;
  line-height: 63px;
  box-shadow: 0 0 7px 0 rgba(0,0,0,0.3);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;

  &__nav {
    flex: 1;
    text-align:center;

    ul {

      li {
        display: inline-block;
        padding: 0 16px;
      }
    }
  }
}

.footer {
  border-top: 1px solid #eee;

  &__content {
    display: flex;
    align-items: center;
    padding: 60px;
  }

  &__about {
  }

  &__dgsocial {
    flex: 2;
  }

  &__jpsocial {
    flex: 2;
  }

  &__email {
  }

  &__meta {
    text-align: right;
    border-top:1px solid #eee;
    padding: 25px 60px;

    li {
      border-bottom:1px solid #eee;
      display: inline-block;
    }
  }
}

.careers {

  &__hero {
    // margin-top: -30px;
    padding: 30px 50px 40px 50px;
    background-image: url(http://image.desiringgod.org/careers-o6vh66tn-en/careers-o6vh66tn.jpg?0);
    background-size: cover;
    text-align: center;

    header {
      text-align: left;
      display: flex;
      border-bottom: 1px solid #eee;
      line-height: 55px;
      align-items: center;

      h2 {
        font-size: 45px;
        flex: 1;
      }
    }
  }

  &__herointro {
    padding: 50px 0;
    max-width: 960px;
    margin: 0 auto;

    h3 {
      font-size: 36px;
      line-height: 1.2;
    }

    p {
      max-width: 620px;
      margin: 0 auto;
      font-size: 18px;
      line-height: 1.5;
      text-align: left;
      padding-bottom: 30px;
    }
  }

  &__reach {
    padding: 60px 0 40px;
    background-image: url(http://image.desiringgod.org/careers-9s9zavaq-en/careers-9s9zavaq.jpg?0);
    // background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f2f2f2;
    box-sizing: border-box;
    padding-bottom: 24px;
    background-size: contain;

    header {
      margin: 0 auto;
      max-width: 620px;

      h3 {
        text-align: center;
        font-size: 23px;
        line-height: 1.5;
      }

      p {
        font-size: 18px;
        line-height: 1.5
      }
    }

    ul {
      display: flex;
      padding: 130px 0 240px;
      justify-content: center;

      li {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        background-color: #fff;
        margin: 0 50px;
        text-align: center;
      }
    }
  }

  &__opportunities {
    text-align: center;
    padding-bottom: 80px;

    img {
      display: block;
      margin: 0 auto 30px;
      width: 960px;
    }
  }

  &__recentfeatures {
    background-color: whitesmoke;
    padding: 50px 30px;
    text-align: center;

    img {
      width: 1149px;
    }
  }
}
